<section class="testymonials py-5">
  <h1>testymonials</h1>
  <div class="container">
    <div class="row w-75 testy-holder mx-auto">
      <div *ngFor="let item of [1,2,3,4]" class="col-md-6 g-4">
        <div class="testy p-3">
          <h3 class="second-color">Kathryn Murphy</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
          <i *ngFor="let item of [1,2,3,4,5]" class="fa-solid fa-star second-color m-1"></i>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <button class="main-btn">Contact us</button>
    </div>
  </div>
</section>
