<section class="text-white h-75">

  <div class="row">
    <div class="col-md-8 background-1 pt-3">
      <div class="w-50 mx-auto info">
        <p class="pb-5">Peachy Pup <br> Bakery</p>
        <h1 class="mt-5 my-3">Tasty pastries</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
        <button class="main-btn my-3">See More</button>
      </div>
      <div class="d-flex">
        <div class="icons">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-tiktok"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <p class="tel ms-3">Telephone: +7 700 000 00 00</p>
      </div>
    </div>
    <div class="col-md-4 background-2 align-items-center">
      <div class="image">
        <img src="./assets/images/Place Your Image Here (Double Click to Edit)_ 1.png" class="w-100" alt="">
      </div>
    </div>
  </div>
</section>
