<section class="work">
  <div class="row h-100">
    <div class="col-md-4 background-1">
      <div class="d-flex align-items-center h-75">
        <p class="second-color w-50 ms-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
      </div>
    </div>
    <div class="col-md-8 background-2">
      <div>
        <h1 class="mt-3">How we work</h1>
      </div>
    </div>
  </div>
  <div class="images">
    <div class="container text-center">
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="./assets/images/WhatsApp Image 2024-01-19 at 00.27 (1).png" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="./assets/images/WhatsApp Image 2024-01-19 at 00.27 (2).png" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="./assets/images/WhatsApp Image 2024-01-19 at 00.27 (3).png" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img src="./assets/images/WhatsApp Image 2024-01-19 at 00.27.png" alt="">
        </div>
      </div>
      <button class="main-btn mt-4">Contact Us</button>
    </div>
  </div>
</section>
